torch
gymnasium
stable-baselines3[extra]
scikit-learn
xgboost
pandas
numpy
scapy
pyshark
fastapi
uvicorn
shap
numba>=0.59.0
llvmlite>=0.42.0
captum
streamlit
plotly
matplotlib
seaborn
imbalanced-learn
tensorboard
